.box {
    width: 200px;
    height: 50px;
    margin: 10px;
}

.solid {
    border: 3px solid black;
}

.dashed {
    border: 3px dashed black;
}

.dotted {
    border: 3px dotted black;
}

.double {
    border: 3px double black;
}

.groove {
    border: 3px groove black;
}

.ridge {
    border: 3px ridge black;
}

.inset {
    border: 3px inset black;
}

.outset {
    border: 3px outset black;
}